@charset "UTF-8";

body{}
.ico_friends { 
  display:block;
  background:url(../img/ico_friends.png) no-repeat 0 0 / 700px 800px;
  font-size:1px; /*글씨 없애기*/
  color:transparent; /*글씨 없애기*/
  /* overflow: hidden; */
}
.ico_dot{  /* 빨간점 */
  display:inline-block; /*span이 인라인 태그이기 때문에*/
  width:8px; height:8px;
  background: #ec4217;
  border-radius:50%;
  font-size:1px; /*글씨 없애기*/
  color:transparent; /*글씨 없애기*/
  /* line-height: 0; */
  border:2px solid #fff;
}

button {
  border: 0;
  background: none;
  cursor: pointer;
}


#container {
  max-width:640px; min-width:270px; /* 화면크기 고정 */
  height:2000px;
  margin:0 auto;
  background-image:linear-gradient(to bottom, #fff 40%, #e071d1 75%, #ec4217);
}

header {
  position:fixed; top:0; left:0; right:0;
  max-width:640px; min-width:270px;
  margin:0 auto;
  background:#fff;
}
h1 { 
  text-align: center; 
  height:46px; 
  line-height:46px; 
}

h1 a { 
  display:inline-block;
  width:147px; height:24px;
  background-image:url('../img/logo_kakaofriends.png');
  background-size:147px 24px;
}
h1 a span { display:none; } /* 글자 안보이게 */

.ico_gnb_menu { 
  width:24px; height:24px;
  background-position: -520px -60px;
}

.top_left, .top_right { 
  position:absolute; 
  top:6px;
  
}

.top_left { 
  left:12px; 
}
.top_left > button {
  padding: 5px;
}

.top_left .ico_dot {
  position: absolute;
  top: 5px;
  right: 3px;  
}

.top_right { 
  right:12px; 
}
.top_right > button {
  padding: 5px;
}

.top_right .ico_search, .top_right .ico_global {
  width: 24px;
  height: 24px;
}

.top_right .ico_search {
  background-position: -40px -20px;
}

.top_right .ico_global {
  background-position: -440px -60px;
}

nav {
  border-bottom: 1px solid #ccc;
}
.list_tab { 
  display:flex;
}
.list_tab li { 
  flex:1; /*컨테이너에 크기에 따라 자동으로 줄어들고 늘어남*/
  text-align:center;  
}
.list_tab li a { 
  display:block; 
  line-height:43px;
}

.list_tab li a > span {
  position: relative; /* nav .ico_dot 포지션의 기준*/  
}

nav .ico_dot {
  position: absolute;
  top: 0px;
  right: -13px;
}

.list_tab li a.on {
  font-weight: bold;
}

.list_tab li a.on:after {
  display: block;
  content: "";
  height: 4px;
  background: #000;
  position: relative; /*현재위치 기준잡기 위해 넣어줌*/
  bottom: -1px;
}

/* main */
main {
  padding-top: 95px;
}

article {}
article .box {
  padding: 20px;  
}
.article_header {
  padding-bottom: 20px;
}
.article_header .profile {
  float: left;
  background: url('../img/character_113.png') no-repeat 0 0 / 40px 40px;
  display: inline-block;
  width: 40px;
  height: 40px;
  text-indent: -9999px; /*글자 안보이게 하기*/
  border-radius: 15px;
}
.article_header .info {
  padding-left: 45px;
}
.article_header .info strong {
}
.article_header .info .txt_time {
  display: block; /*줄바꿈을 위해 블럭요소를 추가해줌*/
  font-size: 12px;
  color: #808080;
  line-height: 15px;
}

.article_con {}
.article_con img {
  width: 100%;
  border-radius: 10px;
}

/* gnb */
.dark {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.8);
  z-index: 100;  
}

#gnb {  
  position: fixed;
  top:0;
  left: -304px; /*처음에 숨겨져서 안보이는 상태*/
  bottom: 0;
  width: 304px;  
  background: #fff;
  overflow: hidden;    /*gnb .inner의 스크롤바 없애주기*/
  z-index: 150;
}

#gnb .inner {  /* gnb메뉴가 밑에까지 스크롤되서 보이게 만들기*/
  width: 304px;
  height: 100%;
  overflow-y: scroll;
  padding-right: 17px; /*17px 스크롤바 너비만큼 패딩을 넣어줌*/
  box-sizing: content-box; /*304에서 패딩준 17만큼 넚어지게 만들어준상태: 부모에 overflow:hidden을 사용해서 보기싫은 스크롤바 부분을 감춰줌*/
}
.info_user {
  padding: 35px 6px 24px 24px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.info_login {
  font-weight: 900;
  letter-spacing: -2px;
}
.info_inquire {
  font-size: 13px;
  font-weight: bold;
  letter-spacing: -1px;
}
.info_user .ico_arrow_right {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-position: -320px 0;
  vertical-align: top;
  margin-top: 1px;
}
.list_menu {
  padding: 20px 0;
}
.list_menu > li { }
.list_menu .btn_menu { 
  display: block;
  width: 100%;
  text-align: left; /*button은 이미지가 한가운데 오는게 기본옵션이므로 바꿔줌*/
  line-height: 48px;
  padding: 0 10px 0 24px;
  font-size: 15px;
  font-weight: bold;
}

/* .line {
  border-bottom: 1px solid #808080;
  margin-bottom: 16px;
  padding-bottom: 16px;
}  스크롤 없애기위해 gnb inner를 수정하면서 줄이 100%가 안되서 아래 line::after를 새로 만들어줌*/

.line::after {
  display: block;
  content: "";
  height: 16px;
  width: 304px;
  border-bottom: 1px solid #eff0f2;
  margin-bottom: 16px;
}

.list_menu .ico_dot {
  position: relative;
  bottom: -10px;
}
.list_menu .ico_arrow {
  float:right;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-position: -360px 0;
  vertical-align: top;
  margin-top: 15px;
}

.list_menu .ico_arrow.on {   /* 눌렀을때 화살표모양 변화 */
  background-position: -340px 0;
}

.list_sub_wrap {
  display: none;
}
.list_charactor {
  padding: 16px 0 16px 14px;
  font-size: 0;/*자식요소 inline-block 사용시 여백을 없애주는 방법*/
}
.list_charactor li {
  display: inline-block; /*인라인은 여백이 자동으로 들어감*/
  width: 25%;  
  padding-bottom: 20px;
}
.list_charactor li a {
  display: block;
  padding: 0 10px ;
  color: #6d6d6d;

}

.img_charactor {
  display: block;
  width: 100%;
  padding-top:100%;/*가로길이와 똑같은 길이의 패딩이 생김*/
  background: no-repeat 50% 50% / cover;
  border-radius: 50%;
}
.txt_charactor {
  display: block;
  text-align: center;
  font-size: 11px;
  padding-top: 8px;
}

.charactor01 .img_charactor {
  background-image: url('../img/character/character_2.png');
}
.charactor02 .img_charactor {
  background-image: url('../img/character/character_4.png');
}
.charactor03 .img_charactor {
  background-image: url('../img/character/character_6.png');
}
.charactor04 .img_charactor {
  background-image: url('../img/character/character_8.png');
}
.charactor05 .img_charactor {
  background-image: url('../img/character/character_10.png');
}
.charactor06 .img_charactor {
  background-image: url('../img/character/character_12.png');
}
.charactor07 .img_charactor {
  background-image: url('../img/character/character_13-1.png');
}
.charactor08 .img_charactor {
  background-image: url('../img/character/character_14-1.png');
}
.charactor09 .img_charactor {
  background-image: url('../img/character/character_15.png');
}
.charactor10 .img_charactor {
  background-image: url('../img/character/character_ON.jpg');
}


.charactor01:hover .img_charactor {
  background-image: url('../img/character/character_1.png');
}
.charactor02:hover .img_charactor {
  background-image: url('../img/character/character_3.png');
}
.charactor03:hover .img_charactor {
  background-image: url('../img/character/character_5.png');
}
.charactor04:hover .img_charactor {
  background-image: url('../img/character/character_7.png');
}
.charactor05:hover .img_charactor {
  background-image: url('../img/character/character_9.png');
}
.charactor06:hover .img_charactor {
  background-image: url('../img/character/character_11.png');
}
.charactor07:hover .img_charactor {
  background-image: url('../img/character/character_13.png');
}
.charactor08:hover .img_charactor {
  background-image: url('../img/character/character_14.png');
}
.charactor09:hover .img_charactor {
  background-image: url('../img/character/character_15-1.png');
}
.charactor10:hover .img_charactor {
  background-image: url('../img/character/character_OFF.jpg');
}


.list_category {
  font-size: 0;
  padding: 8px 10px 8px 24px;
}

.list_category li {  
  display: inline-block;
  width: 50%;  
}
.list_category li a {
  display: block;
  font-size: 14px;
  padding: 12px;
  color: #747475;
}

.banner {}

.banner a {
  display: block;
  padding: 0 0 0 14px;
}

.banner img {
  width: 100%;
  border-radius: 5px;
}

.login {
  padding-bottom: 30px;
}
.login a {
  display: block;
  text-align: center;
  padding: 25px;
  color: #6d6d6d;
  font-size: 13px;
}
.login .ico_gnb_lock {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-position: -560px -20px;
  vertical-align:top;
  margin-top: -2px;
}

.login_popup {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 310px;  
  background: #fff;
  z-index: 110;
  transform: translate(-50%,-50%);
  border-radius: 16px;
  text-align: center;
  padding: 45px;
}
.login_popup img {  
  width: 128px; 
}
.login_popup strong {
  display: block;
  margin-top: 10px;  
}
.login_popup p {
  font-size: 14px;
  font-weight: bold;
  margin-top: 5px;
}
.login_popup button.btn_kakao {
  background: #FEE500;
  width: 100%;
  padding: 10px;
  border-radius: 50px;
  margin-top: 15px;
  font-size: 14px;
  font-weight: bold;
}
.login_popup .ico_kakao {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-position: -480px -20px;
  vertical-align: top;
  margin: -2px 3px 0 0;  
}

.btn_close {  
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 15px;  
}
.btn_close .ico_close {
  width: 24px;
  height: 24px;
  background-position: 0 -20px;
}